/*-- scss:defaults --*/
$toc-color: #b93657;
$link-color: #b93657 !default;
$dropdown-link-color: grey;

// set font
$web-font-path: false; // disable Google Fonts
$font-family-sans-serif: "Source Sans 3" !default;